header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}

@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}